<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  Trzyma bufor Drive'a przy zyciu. KeepAlive podnosi go po kazdym padnieciu
  i po wybudzeniu Maca.

  Instalacja: podmien __REPO__ i __HOME__ na sciezki absolutne, zapisz jako
  ~/Library/LaunchAgents/com.renacode.cloudmachine.gdrive.plist, potem
    launchctl bootstrap gui/$(id -u) ~/Library/LaunchAgents/com.renacode.cloudmachine.gdrive.plist
-->
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.renacode.cloudmachine.gdrive</string>

    <key>ProgramArguments</key>
    <array>
        <string>__REPO__/gdrive/mount-drive.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>30</integer>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>StandardOutPath</key>
    <string>__HOME__/.cloudmachine/launchd-mount.out.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/.cloudmachine/launchd-mount.err.log</string>
</dict>
</plist>
