<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>CloudMachine</string>
  <key>CFBundleDisplayName</key>
  <string>CloudMachine</string>
  <key>CFBundleIdentifier</key>
  <string>com.renacode.cloudmachine</string>
  <key>CFBundleVersion</key>
  <string>__CM_BUILD__</string>
  <key>CFBundleShortVersionString</key>
  <string>__CM_VERSION__</string>
  <!--
    Numer wersji i numer budowy nie wystarczaja, zeby wskazac, CO dokladnie
    dziala: VERSION stoi w miejscu miesiacami, a numer budowy (liczba commitow)
    powtarza sie miedzy galeziami. SHA commitu wskazuje jednoznacznie, a
    CMGitDirty mowi, czy w binarce siedzi kod, ktorego nie ma w zadnym commicie.
  -->
  <key>CMGitCommit</key>
  <string>__CM_COMMIT__</string>
  <key>CMGitDirty</key>
  <string>__CM_DIRTY__</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>CloudMachine</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (c) 2026 Marcin Bęczyński. MIT License.</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.utilities</string>
  <key>CFBundleIconFile</key>
  <string>AppIcon</string>
  <key>CFBundleIconName</key>
  <string>AppIcon</string>
</dict>
</plist>
