<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.renacode.cloudmachine.backup-watchdog</string>
  <key>ProgramArguments</key>
  <array>
    <string>__CM_AGENT_BIN__</string>
    <string>backup-watchdog</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>120</integer>
  <key>StandardOutPath</key>
  <string>__CM_LOG_DIR__/launchd-backup-watchdog.out.log</string>
  <key>StandardErrorPath</key>
  <string>__CM_LOG_DIR__/launchd-backup-watchdog.err.log</string>
</dict>
</plist>
