<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.renacode.cloudmachine.mount-watchdog</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__CM_ROOT__/scripts/mount-watchdog.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CM_CONFIG</key>
    <string>__CM_CONFIG__</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>StandardOutPath</key>
  <string>__CM_LOG_DIR__/launchd-mount-watchdog.out.log</string>
  <key>StandardErrorPath</key>
  <string>__CM_LOG_DIR__/launchd-mount-watchdog.err.log</string>
</dict>
</plist>
